.content
  .sign_in
    %h2= t(:sign_in)

    - if TravelSupportProgram::Config.setting(:auth_method) == "opensuse"
      = render "devise/sessions/new-opensuse"
    - else
      = render "devise/sessions/new-database"
