<p><%= t(:missing_reimbursement_text, :request => @request.title) %></p>

<p><%= link_to(*[@url]*2) %></p>

<p><%= t(:missing_reimbursement_advise) %></p>

<p>--<br>
<%= Rails.configuration.site['email_footer'] %></p>
