=link_to image_tag("bento/header-logo.png"), root_path, :class => "brand"
.container.nav-collapse
  %ul.nav#global-navigation
    %li#item-downloads= link_to t(:downloads, :scope => :bento), "http://en.opensuse.org/openSUSE:Browse#Downloads"
    %li#item-support= link_to t(:support, :scope => :bento), "http://en.opensuse.org/openSUSE:Browse#Support"
    %li#item-community= link_to t(:community, :scope => :bento), "http://en.opensuse.org/openSUSE:Browse#Community"
    %li#item-development= link_to t(:development, :scope => :bento), "http://en.opensuse.org/openSUSE:Browse#Development"
