- elinks = Rails.configuration.site['external_links']
- if elinks && !elinks.empty?
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header= t(:external_links)
      - elinks.each do |lnk|
        %li= link_to lnk["title"], lnk["url"]
