- elinks = TravelSupport::Config.setting :external_links
- if elinks && !elinks.empty?
  .well.sidebar-nav
    %ul.nav
      %li= t(:external_links)
      - elinks.each do |lnk|
        %li= link_to lnk["title"], lnk["url"]
