=link_to t(:application_title), root_path, :class => "brand"
.container.nav-collapse
  %ul.nav
    - if user_signed_in?
      %li= link_to t(:signed_in_as, :nickname => current_user.nickname), edit_user_registration_path
      %li= link_to t(:logout), destroy_user_session_path, :method => :delete
    - else
      %li= link_to t(:login), new_user_session_path
      %li= link_to t(:sign_up), new_user_registration_path
