%li= link_to t(:events), events_path
%li= link_to t(:requests), requests_path(:q => {:state_eq => "submitted"})
%li= link_to t(:reimbursements), reimbursements_path(:q => {:state_eq => "tsp_pending"})
